header {
  background: linear-gradient(to bottom, #808080, #ffffff);
  display: flex;
  justify-content: center;
}

ul,
li {
  list-style: none;
}
header a {
  border: 1px black solid;
  background: linear-gradient(to bottom, #808080, #ffffff);
}
