:root {
  --couleur-noir: #261f1c;
  --couleur-marron-fonce: #433027;
  --couleur-marron-clair: #a1846b;
  --couleur-beige-fonce: #bab0a1;
  --couleur-beige-clair: #dfdbd6;
  --couleur-bleu: #44547c;
  --padding-h2: 30px;
}

/* fonts : */
@font-face {
  font-family: "League spartan";
  src: url("../../public/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../../public/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}
.in-view {
  animation: fadeInUpInView 1.5s ease-out forwards;
}
@keyframes fadeInUpInView {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--couleur-beige-clair);
}
/* SCROLL BAR  :  */
/* Pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur de la poignée (le "thumb") */
}
::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Couleur de la piste (le "track") */
}
/* Pour Internet Explorer */
::-ms-scrollbar {
  width: 5px;
}
::-ms-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
::-ms-scrollbar-track {
  background-color: #f2f2f2;
}
/* END SCROLL BAR */
h1 {
  font-family: "Playfair Display";
}
h2 {
  padding: var(--padding-h2);
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "League spartan", sans-serif;
}

ul {
  list-style: none;
}
button {
  background-color: var(--couleur-bleu);
  color: var(--couleur-beige-clair);
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.edit-icon:hover {
  cursor: pointer;
}

/* THEME CSS  */
/* THEME DES ANNEES 2000 */
.theme-00::-webkit-scrollbar {
  width: auto !important;
}
.theme-00::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Couleur par défaut de la poignée */
}
.theme-00::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/* Pour Internet Explorer */
.theme-00::-ms-scrollbar {
  width: auto !important;
}
.theme-00::-ms-scrollbar-thumb {
  background-color: #a0a0a0;
}
.theme-00::-ms-scrollbar-track {
  background-color: #f1f1f1;
}
.theme-00 * {
  color: black;
  background-color: white;
}
.theme-00 h1 {
  display: none;
}
.theme-00 a {
  color: blue;
  text-decoration: underline;
}
.theme-00 header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 181, 181);
}
.theme-00 header nav {
  background-color: rgb(185, 181, 181);
}

.theme-00 header nav a {
  margin: 0;
  border: 1px black solid;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, #808080, #ffffff);
}
.theme-00 .section-banniere {
  animation: fadeInHeight 5s steps(1);
  height: 600px;
  overflow: hidden;
}
.theme-00 .section-banniere .piracy-pic {
  display: block;
  width: 100%;
  height: 600px;
  margin: auto;
  object-fit: cover;
}
.theme-00 .formation-card {
  border-radius: 0;
}
@keyframes fadeInHeight {
  0% {
    height: 20px;
  }
  20% {
    height: 50px;
  }
  40% {
    height: 100px;
  }
  60% {
    height: 150px;
  }
  80% {
    height: 200px;
  }
  100% {
    height: 600px;
  }
}

.theme-00 button {
  background-color: #cccccc; /* Gris clair */
  border: 1px solid #999999; /* Bordure grise plus foncée */
  padding: 5px 10px; /* Marge intérieure */
  border-radius: 0 !important;
}

.theme-00 .card-projet,
.theme-00 .card-projet * {
  animation: none !important;
  transform: translateY(0) !important;
  opacity: 1;
  box-shadow: none;
  border: 1px black solid;
}

.theme-00 .formation-card:hover {
  transform: scale(1) !important;
}

.theme-00 .formations-container {
  display: none;
}
/* THEME DES ANNEES 10' */

.theme-10 * {
  color: black;
  background-color: white;
}

.theme-10 section {
  border: 1px black solid;
}
.theme-10 h1 {
  transform: translateX(0) !important;
  color: white;
  background-color: black;
}

.theme-10 header {
  background-color: rgb(158, 155, 155) !important;
  justify-content: space-around;
  padding: 0;
}
.theme-10 .logo-container {
  background-color: rgb(158, 155, 155);
}
.theme-10 a {
  background-color: rgb(158, 155, 155) !important;
  text-decoration: none;
  margin: 0;
  border: 1px black solid;
  height: 100%;
}
.theme-10 nav .styles-container {
  display: flex;
  height: -webkit-fill-available;
  margin-bottom: 0;
}
.theme-10 .section-banniere {
  background: none;
  background-color: black !important;
}

.theme-10 .card-projet,
.theme-10 .card-projet * {
  animation: none !important;
  transform: translateY(0) !important;
  opacity: 1;
  box-shadow: none;
  background-color: grey;
  border: 1px black solid;
}
.theme-10 .formation-card {
  border-radius: 0;
}
.theme-10 .formation-card:hover {
  transform: scale(1) !important;
}
