@import url("./globals.css");

.section-a-propos {
  background-color: var(--couleur-beige-fonce);
}
.section-a-propos .content {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--couleur-noir),
    var(--couleur-marron-fonce)
  );
}

.section-a-propos .content .image-container {
  max-width: 50%;
}

.section-a-propos .content .infos {
  color: #fefffa;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
}
