@import url("../globals.css");

.bienvenue {
  text-align: center;
}
.messages-container {
  background-color: var(--couleur-beige-clair);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message {
  text-align: center;
  width: 300px;
  max-width: 90%;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--couleur-bleu);
  color: var(--couleur-noir);
  overflow-wrap: break-word;
}

.message h4 {
  text-decoration: underline;
  font-size: 0.9rem;
}

.message .text-message {
  margin-top: 20px;
  position: relative;
  background-color: var(--couleur-beige-clair);
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
.message .text-message::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;

  border-bottom-color: var(--couleur-beige-clair);
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.edits-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--couleur-marron-fonce);
  text-align: center;
}

.projets-edit-container,
.profile-edit-container {
  background-color: var(--couleur-beige-clair);
  padding: 10px;
}
