@import url("../app/globals.css");

.card-projet {
  max-width: 90%;
  width: 381px;
  height: 401px;
  margin: 40px auto;
  background-color: var(--couleur-beige-clair);
  color: var(--couleur-noir);
  opacity: 0;
  transform: translateY(150px);
}
/* animation dans le globals.css */

.card-projet .projet-img {
  width: 60%;
  border: 1px black solid;
  height: auto;
}

.card-projet .techno-container .techno-logo {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.card-projet .projet-repo {
  color: var(--couleur-bleu);
  text-decoration: underline;
}

.card-projet .projet-lien {
  text-decoration: underline;
}
.card-projet p {
  margin: 8px;
}
