.projet-container .nom-edit-supprime-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projet-container .edit-supprime-container {
  display: flex;
  align-items: center;
}
.button-attention {
  background-color: red;
  margin: 3px;
}

.edit-icon {
  padding: 3px;
  width: 25px;
  height: 25px;
}
.modal-confirmation-suppression {
  border: black 1px solid;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.form-ajout-projet {
  display: flex;
  flex-direction: column;
}

.form-ajout-projet button {
  margin-bottom: 5px;
  max-width: 150px;
}

.form-ajout-projet button[type="submit"] {
  background-color: green;
}
