.form-edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-edit-profile * {
  margin: 1px;
}

.span-button-container {
  width: 90%;
  max-width: 245px;
  display: flex;
  justify-content: space-between;
}
.form-edit-profile input,
.form-edit-profile button {
  font-size: 18px;
}

.form-edit-profile button {
  color: white;
  background-color: black;
  min-width: 20px;
}
input[type="submit"] {
  background-color: green;
  color: white;
  max-width: 100px;
}
.reset-form {
  background-color: black;
  color: white;
  max-width: 100px;
}
