@import url("../app/globals.css");

header {
  background-color: var(--couleur-noir);
  color: var(--couleur-beige-clair);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  padding: 10px;
  margin: 5px;
}

header a:hover {
  color: var(--couleur-beige-fonce);
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header nav .styles-container {
  position: relative;
}

.styles-container:hover .menu-deroulant {
  max-height: 300px;
  width: 100%;
  transition: max-height 2s ease, width 1s ease;
}
.menu-deroulant {
  width: 50px;
  max-height: 0;
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 2;
  overflow: hidden;
  border: 1px var(--couleur-beige-clair) solid;
  transition: max-height 2s ease, width 1s ease;
}

header nav .styles-container ul li {
  padding: 2px;
  cursor: pointer;
}
header nav .styles-container ul li:hover {
  opacity: 0.7;
}
header nav .menu-deroulant input {
  padding: 2px;
  background-color: var(--couleur-noir);
  color: var(--couleur-beige-clair);
  width: -webkit-fill-available;
  border: none;
}
/* header nav .menu-deroulant li:nth-child(1) input {
  background-color: white;
  color: black;
}
header nav .menu-deroulant li:nth-child(2) input {
  background-color: grey;
  color: black;
} */
@media only screen and (max-width: 800px) {
  .logo-container {
    display: none;
  }
  header nav {
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: x-large;
    margin-right: 0;
  }
  header nav .styles-container {
    display: none;
  }
}
