@import url("../app/globals.css");

header {
  height: 50px;

  background-color: var(--couleur-noir);
  color: var(--couleur-beige-clair);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

header a {
  padding: 10px;
  margin: 5px;
}

header a:hover {
  color: var(--couleur-beige-fonce);
}
