.my-modal-container {
  background-color: white;
  position: relative;
  margin: 5% auto;
  padding: 35px;
  max-width: 80%;
  width: 500px;
  max-height: 80%;
  height: 500px;
  border: 2px black solid;
  border-radius: 2%;
  overflow-y: auto;
}
.close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
}

.my-modal-container h2 {
  padding: 0;
}
.my-modal-container h2,
.my-modal-container p,
.my-modal-container h3 {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .my-modal-container * {
    font-size: 22px;
  }
  .my-modal-container .close-modal {
    width: 30px;
    height: 30px;
  }
  .my-modal-container .edit-icon,
  .my-modal-container .bin {
    width: 30px;
    height: 30px;
  }
}
