@import url("../app/globals.css");

.section-a-propos {
  background-color: var(--couleur-beige-fonce);
}
.section-a-propos .infos-container {
  color: var(--couleur-beige-clair);
  padding: 5px;
}

.section-a-propos .content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--couleur-noir),
    var(--couleur-marron-fonce)
  );
}

.section-a-propos .content img {
  max-width: 500px;
  transition: filter 0.3s ease;
}

.section-a-propos .content img:hover {
  filter: grayscale(20%);
}
.section-a-propos .content .infos-container {
  color: var(--couleur-beige-clair);
  text-align: center;
}
.section-a-propos .content .infos-container p,
.section-a-propos .content .infos-container ul {
  padding: 5px;
}
.section-a-propos .content .infos-container h3 {
  text-decoration: underline;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  .section-a-propos .content {
    flex-direction: column;
  }
  .section-a-propos p {
    font-size: larger;
  }
}
