@import url("../app/globals.css");

.section-formations {
  display: flex;
  flex-direction: column;
  background-color: var(--couleur-beige-fonce);
}

.formations-groupe-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.formation-card {
  text-align: center;
  min-height: 200px;
  margin: 20px;
  border: 1px black solid;
  background-color: var(--couleur-beige-clair);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--border-radius-card);
  transition: transform 2s ease;
  transform-origin: center center;
}

.formation-card * {
  margin: 5px;
  font-size: 17px;
  color: var(--couleur-noir);
}
.etablissement-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.etablissement-container .logo-etablissement {
  min-width: 50px;
  min-height: 25px;
  max-height: 50px;
}

.en-savoir-plus {
  max-width: 130px;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
.contenu-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.contenu-list.contenu-expanded {
  max-height: 450px;
  overflow: visible;
}

@media only screen and (max-width: 800px) {
  .formations-groupe-container {
    flex-direction: column;
    align-items: center;
  }
  .formation-card {
    width: 90%;
  }
  .formation-card:hover {
    transform: none;
  }
  .formation-card li,
  .formation-card h3,
  .formation-card p {
    font-size: 20px;
  }
}
