@import url("../app/globals.css");

.section-banniere {
  background: linear-gradient(
    to bottom,
    var(--couleur-noir),
    var(--couleur-marron-fonce)
  );
  position: relative;
  height: 85vh;
}

.section-banniere h1 {
  font-size: 90px;
  color: var(--couleur-beige-clair);
  white-space: nowrap;
  position: absolute;
  top: 33%;
  transform: translate(0, -50%);
  transition: transform 0.1s ease-out;
}

.section-banniere h1:hover {
  cursor: pointer;
}

.piracy-pic {
  display: none;
}

@media only screen and (max-width: 800px) {
  .section-banniere {
    height: 40vh;
  }
}
