@import url("../app/globals.css");

.section-banniere {
  background: linear-gradient(
    to bottom,
    var(--couleur-marron-clair),
    var(--couleur-marron-fonce)
  );
  /*   background-color: var(--couleur-marron-fonce); */
  position: relative;
  height: 300px;
}

/* .section-banniere h1 {
  font-size: 80px;
  color: #fefffa;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.section-banniere h1 div {
  margin-right: 50px;
  animation: moveLeft 30s linear infinite;
} */
.section-banniere h1 {
  font-size: 90px;
  color: var(--couleur-beige-clair);
  white-space: nowrap;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  animation: moveLeft 30s linear infinite;
}
@keyframes moveLeft {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translateX(-100%, -50%);
  }
}
