@import url("../app/globals.css");

.section-projets {
  background: linear-gradient(
    to bottom,
    var(--couleur-marron-fonce),
    var(--couleur-beige-fonce)
  );
  /*   background-color: var(--couleur-marron-fonce); */
  color: var(--couleur-beige-clair);
  text-align: center;
}

.container-card-projet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 750px) {
  .container-card-projet {
    flex-direction: column;
  }
}
